[submodule "src/hardware/urg_node"]
	path = src/hardware/urg_node
	url = git@github.com:ros-drivers/urg_node.git
[submodule "ros2/hardware/urg_node2"]
	path = ros2/hardware/urg_node2
	url = git@github.com:Hokuyo-aut/urg_node2.git
